{{!-- Facebook authentication code --}}
<div class="fb-login-button" data-max-rows="1" data-size="large" data-button-type="continue_with" data-show-faces="true"
data-auto-logout-link="true" data-use-continue-as="true"></div>
<div id="fb-root"></div> 

<div id="fb-root"></div>
