    <!--Footer-->
    <!--https://stackoverflow.com/questions/32152442/semantic-ui-footer-at-the-end-->
    <div class="ui inverted vertical footer segment app-footer">
        <div class="ui container">
            <h2>AdoptMe</h2>
            <p><i class="copyright outline icon"></i>Copyright 2018. All Rights Reserved.</p>
        </div>
    </div>