    <!--Footer-->
    <!--https://stackoverflow.com/questions/32152442/semantic-ui-footer-at-the-end-->
    <div class="ui inverted vertical footer segment app-footer sticky">
        <div class="ui container">
            <h2>AdoptMeNow</h2>
            <p>Created by Phil Stubbs, Robin Bertuccelli, Amin Kedir, and Joy Hollela.</p>
            <small><i class="copyright outline icon"></i>Copyright 2018.</small>
        </div>
    </div>