    <!--Navbar. With semantic UI, navbar is just called a menu.-->
    <div class="ui stackable inverted menu app-navbar">
        <div class="ui container">
            <!--Logo/Name plate goes here.-->
            <div class="header item">
                <h1><i class="fas fa-paw"></i> AdoptMeNow</h1>
            </div>
            <a class="item" href="/">
            <i class="home icon"></i> Home
            </a>
            <a class="item" href="petsearch">
            <i class="grid layout icon"></i> Browse
            </a>
            <a class="item" href="quiz">
            <i class="clipboard outline icon"></i> Take quiz
            </a>

            <a class="item" href="savedpets">
            <i class="heart outline icon"></i> My saved pets

            </a>
            <div class="ui simple dropdown right item">
                More
                <i class="dropdown icon"></i>
                <div class="menu">
                    <a class="item" id="about-modal-link"><i class="info cirle icon"></i>About</a>
                    <a class="item" id="contact-modal-link"><i class="envelope outline icon"></i>  Contact</a>
                    <a class="item" id="help-modal-link"><i class="question circle icon"></i>Help</a>
                    <a class="item" href="https://github.com/robinb242/PetMatch" target="_blank"><i class="github icon"></i>GitHub repo</a>
                </div>
            </div>
        </div>
    </div>