{{#each pets}}
	{{!-- {{#if liked}} --}}
	<div class="liked-pets-list">
		<h4 class="liked-pet-name">{{this.pet_name}}</h4>

		<!--Button to remove pet from liked pets list-->
		<button class="delete-pet ui button" data-id="{{this.id}}"><i class="trash icon"></i> Remove from list</button> 
	</div>
	{{!-- {{/if}} --}}
{{/each}}