{{#each pets}}
	{{!-- {{#if liked}} --}}
		<h4 class="liked-pet-name">{{this.pet_name}}</h4>

		<!--Throw away burger button-->
		{{!-- <button class="delete-pet ui button" data-id="{{this.id}}"><i class="trash icon"></i> Throw away</button> --}}
	{{!-- {{/if}} --}}
{{/each}}