<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!--Viewport for making app responsive on mobile and tablet devices-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AdoptMeNow</title>
    <!--JQuery link-->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!--Semantic UI CSS-->
    <link rel="stylesheet" type="text/css" href="./assets/css/Semantic-UI-CSS-master/semantic.min.css">
    <script src="./assets/css/Semantic-UI-CSS-master/semantic.min.js"></script>
    <script src="./assets/css/Semantic-UI-CSS-master/semantic.js"></script>
    <!--External CSS-->
    <link rel="stylesheet" href="./assets/css/style.css" type="text/css" />
    <!--Font Awesome link-->
    <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <!--Semantic UI CSS and JS for displaying user messages.-->
    <link rel="stylesheet" type="text/css" href="./assets/css/Semantic-UI-CSS-master/Semantic-UI-Alert.css">
    <script type="text/javascript" src="./assets/css/Semantic-UI-CSS-master/Semantic-UI-Alert.js"></script>
</head>
	<body class="Site">

{{!-- <div class="fb-login-button" data-max-rows="1" data-size="large" data-button-type="continue_with" data-show-faces="true"
    data-auto-logout-link="true" data-use-continue-as="true"></div>
   <div id="fb-root"></div> 

<div id="fb-root"></div>
<script>(function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.12&appId=2072161516400339&autoLogAppEvents=1';
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script> --}}

		{{{ body }}}


    <!--External Javascript file for pet matching functionality-->
	<script src="./assets/src/petMatch/petMatch.js"></script>
    <!--External Javascript file for pet search functionality-->
    <script src="./assets/src/petSearch/petSearch.js"></script>
    <!--Javascript file for pet Delete functionality-->
    <script src="./assets/src/petDelete/petDelete.js"></script>
    <!--Javascript file for delete all match results functionality-->
    <script src="./assets/src/petDelete/matchResultsDelete.js"></script>
    <!--Javascript to open modals-->
    <script src="./assets/src/modals/modals.js"></script>
    
<script>
(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.12&appId=2072161516400339&autoLogAppEvents=1';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
	</body>
</html>