<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!--Viewport for making app responsive on mobile and tablet devices-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AdoptMe</title>
    <!--JQuery link-->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!--Semantic UI CSS-->
    <link rel="stylesheet" type="text/css" href="./assets/css/Semantic-UI-CSS-master/semantic.min.css">
    <script src="./assets/css/Semantic-UI-CSS-master/semantic.min.js"></script>
    <script src="./assets/css/Semantic-UI-CSS-master/semantic.js"></script>
    <!--External CSS-->
    <link rel="stylesheet" href="./assets/css/style.css" type="text/css" />
    <!--Font Awesome link-->
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
</head>
	<body>
		{{{ body }}}
        
    <!--External Javascript file for pet matching functionality-->
	<script src="./assets/src/petMatch/petMatch.js"></script>
     <!--External Javascript file for pet search functionality-->
    <script src="./assets/src/petSearch/petSearch.js"></script>
	</body>
</html>