
 <div class="ui container">
    <!--Navbar. With semantic UI, navbar is just called a menu.-->
    {{> pets/navbar-block}}    

    <!--Header row-->
    <div id="header">
        <h2>Find your next companion<h2>
    </div>

    <div class="ui two column grid main-content-section">
        <!--User has two options. They can either...
            take a compatability quiz or go straight to search page.-->
        <div class="row">
            <div class="column">					
                <div class="ui fluid card">
                    <div class="content center aligned">
                        <h3>Looking for the perfect pet?</h3>
                        <h3>Take the pet compatibility quiz </h3>
                        <h4>(Takes 1 to 2 minutes)</h4>
                    </div>
                    <div class="extra content">
                        <a href="quiz"><button id="take-quiz-btn" class="ui fluid blue button">Take quiz</button></a>
                    </div>
                </div>
                                
                <div class="ui fluid card">
                    <div class="content center aligned">
                        <h3>Don't want to take a comptability quiz?</h3>
                        <h3>Use our Pet Advanced Search to find a pet in your area.</h3>
                    </div>
                    <div class="extra content">
                        <a href="petsearch"><button class="ui fluid blue button">Search pets</button></a>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="ui">
                    <div class="pet-slides">
                        <!--Slick carousel of pet photos goes here-->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Footer-->
    <!--https://stackoverflow.com/questions/32152442/semantic-ui-footer-at-the-end-->
    {{> pets/footer-block}} 
</div>
