<!--Navbar. With semantic UI, navbar is just called a menu.-->
{{> pets/navbar-block}} 

<div class="ui container">
    <div class="ui stackable two column grid main-content-section center aligned">
        <div id="header">
            <h1>Take the pet compatibility assessment<h1>
        </div>
        <!--User has two options. They can either...
            take a compatability quiz or go straight to search page.-->
        <div class="stretched row">
            <div class="column">					
                <div class="ui fluid card">
                    <div class="header" id="quiz-header">
                        <h2>Find your ideal pet</h2>
                        <!--Quiz progress bar-->
                        <div class="ui indicating progress" data-value="0" data-total="100" id="quiz-progress-bar">
                            <div class="bar"></div>
                            <div class="label"></div>
                        </div>
                    </div>
                    <div class="content center aligned">

                        <div id="quiz-instructions">
                            <h3><b>Instructions: </b>The pet compatibility assessment contains questions that will help us determine the ideal pet for you based on your preferences, interests, and personality.</h3>
                            <h3>For an accurate match, answer the questions truthfully and don't overthink them. </h3>
                        </div>
                        <div class="ui form" id="question-div">
                            <!--Question and choices will be dynamically added to this div here when user takes quiz-->
                        </div>
                    </div>
                    <div class="extra content" id="view-quiz-results-div">
                        <!--Start quiz button-->
                        <button class="ui fluid blue button" id="start-quiz-btn">START QUIZ</button>
                        <!--View quiz results button will be added to this div when user finishes div and quiz results are ready.-->
                    </div>
                </div>

                <!--View results modal-->
                <div class="ui modal" id="match-results-modal">
                    <i class="close icon"></i>
                    <div class="header">
                        You have a match!
                    </div>
                    <div class="image content">
                        <div class="ui medium image">
                            <img src="https://www.puppyfind.com/member_photos/full/y/ypf4h5990ns.jpg">
                        </div>
                        <div class="description">
                            <div class="ui header">
                                <p>Quiz results - your ideal pet is </p><div id="thePet" ></div>
                            </div>
                            <!--Search for pets related to matching pet.-->
                            <a href="petsearch" target="_blank">
                                <button class="ui button pink"><i class="search icon"></i> Find matching pets</button>
                            </a>
                            <br>
                            <!--Rate this match feature-->
                            <button class="ui pink button left" id="match-rating-btn">
                                <i class="star icon"></i> Rate this match
                            </button>
                        </div>
                    </div>
                    <div class="actions">
                        <button class="ui pink right labeled icon button" id="save-results">
                            <i class="heart outline icon"></i> SAVE RESULTS
                        </button>
                        <button class="ui right labeled icon button" id="close">
                            CLOSE
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 
<!--Footer-->
<!--https://stackoverflow.com/questions/32152442/semantic-ui-footer-at-the-end-->
{{> pets/footer-block}} 

<!--Opens the About modal in the hamburger menu-->
{{> modals/about-modal}} 

<!--Opens the Contact modal in the hamburger menu-->
{{> modals/contact-modal}}

<!--Opens the Help modal in the hamburger menu-->
{{> modals/help-modal}}

<!--Opens the Logout modal in the hamburger menu-->
{{> modals/logout-modal}} 