<!--Navbar. With semantic UI, navbar is just called a menu.-->
{{> pets/navbar-block}} 

<div class="ui container">
    <div class="ui stackable two column grid center aligned">
        <div id="header">
            <h1 class="page-header center aligned">Take the pet compatibility assessment<h1>
        </div>
    </div>
    <div class="ui stackable two column grid main-content-section center aligned">
        <!--User has two options. They can either...
            take a compatability quiz or go straight to search page.-->
        <div class="row">
            <div class="column">					
                <div class="ui fluid card">
                    <div class="header" id="quiz-header">
                        <h2>Find your ideal pet</h2>
                        <!--Quiz progress bar-->
                        <div class="ui indicating progress" data-value="0" data-total="100" id="quiz-progress-bar">
                            <div class="bar"></div>
                            <div class="label"></div>
                        </div>
                    </div>
                    <div class="content center aligned">

                        <div id="quiz-instructions">
                            <h3><b>Instructions: </b>The pet compatibility assessment contains questions that will help us determine the ideal pet for you based on your preferences, interests, and personality.</h3>
                            <h3>For an accurate match, answer the questions truthfully and don't overthink them. </h3>
                        </div>
                        <div class="ui form" id="question-div">
                            <!--Question and choices will be dynamically added to this div here when user takes quiz-->
                        </div>
                    </div>
                    <div class="extra content" id="view-quiz-results-div">
                        <!--Start quiz button-->
                        {{!-- <div class="fb-login-button" data-max-rows="1" data-size="large" data-button-type="continue_with" data-show-faces="false"
                            data-auto-logout-link="false" data-use-continue-as="false"></div>
                        <div id="fb-root start-quiz-btn"></div>
                        <br> --}}
                        <button class="ui fluid blue button" id="start-quiz-btn">TAKE ASSESSMENT</button>
                        <!--View quiz results button will be added to this div when user finishes div and quiz results are ready.-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 


<script>
var myName = "";
    function statusChangeCallback(response) {
        console.log('statusChangeCallback');
        console.log(response);

        if (response.status === 'connected') {
            // Logged into your app and Facebook.
            testAPI();
        } else {
            // The person is not logged into your app or we are unable to tell.
            console.log("not logged on");
        }
    }


    function checkLoginState() {
        FB.getLoginStatus(function (response) {
            statusChangeCallback(response);
        });
    }

    window.fbAsyncInit = function () {
        FB.init({
            appId: '2072161516400339',
            cookie: true,  // enable cookies to allow the server to access 
            // the session
            xfbml: true,  // parse social plugins on this page
            version: 'v2.12' // use graph api version 2.8
        });

        FB.getLoginStatus(function (response) {
            statusChangeCallback(response);
        });

    };

    // Load the SDK asynchronously
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "https://connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));


    function testAPI() {
        console.log('Welcome!  Fetching your information.... ');
        FB.api('/me', function (response) {
            console.log('Successful login for: ' + response.name);
        myName = response.name;
        });
    }
</script>
<!--Footer-->
<!--https://stackoverflow.com/questions/32152442/semantic-ui-footer-at-the-end-->
{{> pets/footer-block}} 

<!--Opens the About modal in the hamburger menu-->
{{> modals/about-modal}} 

<!--Opens the Contact modal in the hamburger menu-->
{{> modals/contact-modal}}

<!--Opens the Help modal in the hamburger menu-->
{{> modals/help-modal}}

<!--Opens the Logout modal in the hamburger menu-->
{{> modals/logout-modal}} 

<!--Opens the view results modal at the end of the quiz-->
{{> modals/view-results-modal}}




