<!-- html output of search results -->
<!--Navbar. With semantic UI, navbar is just called a menu.-->
{{> pets/navbar-block}}  
<div class="ui container">  

    <!--Header row-->
    <div id="header">
        <h2>Saved Pets<h2>
    </div>

    
</div>
<!--Footer-->
<!--https://stackoverflow.com/questions/32152442/semantic-ui-footer-at-the-end-->
{{> pets/footer-block}} 

<!--Opens the About modal in the hamburger menu-->
{{> modals/about-modal}} 

<!--Opens the Contact modal in the hamburger menu-->
{{> modals/contact-modal}}

<!--Opens the Help modal in the hamburger menu-->
{{> modals/help-modal}}