<div class="ui modal" id="about-modal">
  <div class="header modal-header">
    About AdoptMeNow
  </div>
  <div class="content modal-content">
    <p>AdoptMeNow is an app that is intended to connect people with animal welfare organizations (AWO) in their area and help streamline the pet adoption process.</p>
    <p>With this application, you can do the following:</p>
    <ul>
      <li>Take a compatibility assessment to receive suggested pets that reflect your personality, preferences, and interests.</li>
      <li>Save your assessment results.</li>
      <li>Search for adoptable pets at animal shelters in your area. You can search by breed, type, gender, and age.</li>
      <li>Add the pets that you like and might consider adopting to a favorites list, which allows you to quickly look up pet information later.</li>
    </ul>
    <p>Created by Phil Stubbs, Robin Bertuccelli, Amin Kedir, and Joy Hollela at the University of Minnesota.</p>
    <small><i class="copyright outline icon"></i>Copyright 2018.</small>
  </div>
  <div class="actions">
    <div class="ui black deny button">
      CLOSE
    </div>
  </div>
</div>