<div class="ui modal" id="about-modal">
  <i class="close icon"></i>
  <div class="header">
    About
  </div>
  <div class="image content">
    <div class="ui medium image">
    </div>
    <div class="description">
      <div class="ui header"></div>
      <p></p>
      <p></p>
    </div>
  </div>
  <div class="actions">
    <div class="ui black deny button">
      CLOSE
    </div>
  </div>
</div>