<div class="ui modal" id="contact-modal">
  <div class="header modal-header">
    Contact
  </div>
  <div class="content modal-content">
    <p>AdoptMeNow is not an animal or rescue organization. As a result, if you have a question regarding a specific pet you find using this app, send them directly to the appropriate organization.</p>

    <p>If you have any questions, comments, or issues regarding the app itself, send us an email at adoptmenow@gmail.com.</p>
  </div>
  <div class="actions">
    <div class="ui black deny button">
      CLOSE
    </div>
  </div>
</div>