<!--Delete pet confirmation modal-->
<div class="ui tiny modal" id="delete-modal">
  <div class="header modal-header">
    Remove this pet
  </div>
  <div class="content">
    <div class="description">
      <div class="ui header delete-this-pet">
          You are about to remove this pet from your pet list. Are you sure?
      </div>
    </div>
  </div>
  <div class="actions">
    <div class="ui cancel button">No</div>
    <div class="ui approve button delete-pet-confirmed">Yes</div>
  </div>
</div>