<!--Find matching pets modal-->
<div class="ui modal" id="find-matching-pets-modal">
    <div class="header modal-header">
        Find matching pets
    </div>
    <div class="content">
        <div class="description">
            <div class="ui header">
                <p>Search results for <span id="matchingPet"> </span>.</p>
            </div>
            <div id="matching-pet-results">

            </div>
        </div>
    </div>
    <div class="actions">

        <button class="ui right labeled icon cancel button" id="close">
            CLOSE
        </button>
    </div>
</div>