<!--LOG OUT modal from the hamburger menu-->
<div class="ui modal" id="logout-modal">
  <i class="close icon"></i>
  <div class="header">
    LOG OUT
  </div>
  <div class="image content">
    <div class="ui medium image">
    </div>
    <div class="description">
      {{> pets/facebook-auth}} 
    </div>
  </div>
  <div class="actions">
    <div class="ui black deny button">
      CLOSE
    </div>
  </div>
</div>