<!--View results modal-->
<div class="ui modal" id="match-results-modal">
    <div class="header modal-header">
        You have a match!
    </div>
    <div class="content">
        <div class="description">
            <div class="ui header">
                <p>We think you would like a <span id="thePet"> </span>.</p>
            </div>
            <div id="pet-match-description">
                <!--Description of match goes here.-->
                <p></p>You would prefer a dog that is very active and intelligent. Keeping a dog like this occupied and busy is an enjoyable part of your day. You like a dog that is fairly easy to train to basic commands and a few fun tricks. He should be able to focus his attention long enough to learn and interact with you, but it's also OK if he decides to be distracted once in a while. Variety keeps things interesting. You don't mind a dog that is a bit fearful in new situations or around new people. You can be patient and take the time to teach him that there is nothing to fear. You prefer an affectionate dog that will snuggle with you, but you don't want a dog that is always in your face trying to get attention. A dog that is intuitive about your feelings would be ideal.</dp>
            </div>
            <!--Rate this match feature-->
            <div class="ui header">
                Rate your match results on a scale of 1 (not very accurate) to 5 (spot on).
            </div>
            <!--User feedback on pet match results-->
            <div class="ui heart huge rating left floated" data-rating="3" data-max-rating="5"></div>

        </div>
    </div>
    <div class="actions">
        {{!-- <button class="ui button left floated" id="match-rating-btn">
            <i class="star icon"></i> Rate this match
        </button> --}}
        <button class="ui right labeled icon button" id="save-results">
            <i class="heart outline icon"></i> SAVE RESULTS
        </button>
        <button class="ui right labeled icon cancel button" id="close">
            CLOSE
        </button>
    </div>
</div>

