
/*footer styling*/
/*https://stackoverflow.com/questions/32152442/semantic-ui-footer-at-the-end*/
@media (min-height: 320px) {
    .app-footer { 
      position: absolute;
      bottom: 0 !important;
      padding: 20px !important;
      margin-top: 60px !important;
    }
  }

/*Add margin in between the home page main content section and the top navigation bar */
.main-content-section {
    margin-top:  20px !important;
}

/*Styling for choice buttons in compatibility quiz*/
.choiceBtn {
  margin-top: 20px !important;
}

/*Styling for the app navbar*/
.app-navbar {
  padding: 20px !important;
}

/* Rate this match button on match results modal*/
#match-rating-btn {
  margin-top: 30px;
}

/* Pet profile card */
.search-card {
  margin-left: 40px !important;
}