/*Background image*/
/*CSS tricks: https://css-tricks.com/perfect-full-page-background-image/*/
body {
  background-image: url('/assets/img/background.jpg') !important;
  background-repeat: no-repeat; 
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  height: 100%;
  width: 100%;
}
html {
  background: url('assets/img/background.jpg') no-repeat center center fixed !important;
  background-size: cover;
  height: 100%;
  overflow: hidden;
}


/*App navbar and footer color*/
.app-footer, .app-navbar {
  /*https://coolors.co/1572bf-4fe5c8-024699-1ab6cd-8cee8b*/
  /*https://coolors.co/db6c6d-7c415b-d84f49-55504d-9a4c48*/
  /*https://coolors.co/c9434a-52382b-df8b80-b9575a-4a1a30*/
  background-color: #672729 !important;
}

/*Have consistent color for buttons throughout the UI.*/
#take-quiz-btn, .choiceBtn, #search-for-btn, #search-btn, #start-quiz-btn, #view-results-btn, .delete-pet, .likeBtn, #find-matching-pets, #match-rating-btn, #save-results, #delete-match-results, .delete-pet-confirmed, .find-matching-pets, #help-close {
  background-color: #672729 !important;
  color: white !important;
}

/*Search for pet in your area card on home page */
#search-for-card {
  margin-top: 40px !important;
}

/*Styling for card headers on home page */
.home-page-header, #pet-search-buttons, #quiz-header, .modal-header {
  background-color: #4A1A30 !important;
  padding: 15px !important;
  color: white !important;
}

/*Quiz instructions text size*/
#quiz-instructions, {
  font-size: 24px !important;
}

/* Modal text size */
.modal-content {
  font-size: 20px !important;
}

/*Add margin in between the home page main content section and the top navigation bar */
.main-content-section {
    margin-top:  0px !important;
}

/*Styling specific to the search button on the search page*/
#search-btn {
  margin-top: 15px;
}

/*Styling for labels on pet search form*/
label {
  font-size: 20px !important;
  margin-top: 15px !important;
  margin-bottom: 10px !important;
}

/*Styling for choice buttons in compatibility quiz*/
.choiceBtn {
  margin-top: 20px !important;
}

/*Styling for the app navbar*/
.app-navbar {
  padding: 20px !important;
}

/*footer styling*/
/*https://stackoverflow.com/questions/32152442/semantic-ui-footer-at-the-end*/
/* @media (min-height: 320px) { */
  .app-footer { 
    position: absolute;
    bottom: 0 !important;
    padding: 20px !important;
    margin-top: 60px !important;
  }


/*Liked pets list and pet match results on saved pets page.*/
 .liked-pets-list, .saved-match-results {
  margin-top: 30px;
}

/*liked pets card on saved pets page.*/
#liked-pet-card {
  margin-top: 100px !important;
}

/* Pet details in the liked pets list */
.liked-pet-details, .pet-match-results {
  font-size: 18px !important;
}

/*Pet profile cards in search results on search page*/
#pet-name {
  font-size: 24px !important;
}

/*Font size of page headers*/
.page-header {
  font-size: 30px !important;
  margin-top:  20px !important;
}

/* Sticky footer*/
/*https://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/*/
/*https://github.com/Semantic-Org/Semantic-UI/issues/2882*/
.Site {
  /* display: flex; */
  min-height: 100vh;
  flex-direction: column;
}

.main-content-section {
  flex: 1;
  min-height: 100vh;
}

/*Size of pet photo on the my saved pets page*/
.pet-photo {
  height: 200px;
}

/*Remove from list button on the my saved pets page*/
.delete-pet {
  margin-top: 10px !important;
}



  
  



